* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    color: #fff;
}

/* Footer Section */
.footer {
    background-color: #f8b400;
    color: black;
    padding: 60px 20px;
}

.footer-container {
    /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1.2rem)); */
    /* gap: 30px; */
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

/* Column Titles */
.footer h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* About Us Section */
.footer p {
    color: black;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.footer .contact-info li {
    list-style: none;
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

.footer .contact-info i {
    color: #f0a500;
    margin-right: 10px;
}

/* Links */
.footer ul {
    list-style: none;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    transition: 0.3s;
}

.footer ul li a:hover {
    color: white;
    padding-left: 4px;
}

/* Recent Posts */
.recent-posts .post-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.recent-posts img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
}

.recent-posts .post-text p {
    font-size: 13px;
    color: black;
}

.recent-posts .post-text h4 {
    font-size: 13px;
    color: black;
    line-height: 1.4;
    font-weight: 500;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .recent-posts .post-item {
        justify-content: center;
    }
}